import { LevelMomentAdModal } from "@levelmoment/sdk-react-native";
import type { ComponentType } from "react";

type AppRootProps = {
  Game: ComponentType;
};

export function AppRoot({ Game }: AppRootProps) {
  return (
    <>
      <Game />
      <LevelMomentAdModal />
    </>
  );
}
